/* variables.css */

/* 🎨 Paleta */
:root {
    /* Colores de la marca */
    --accent-primary: #8061FF;

    /* Backgrounds */
    --bg-page: #150D48;
    --bg-module: #0C0A33;

    /* Texto */
    --text-header: #FFFFFF;
    --text-body: #D9E1FF;

    /* Tipografías */
    --font-heading: 'Syne', sans-serif;
    --font-body: 'Arimo', sans-serif;
}
